@media screen and (max-width: 992px) {
    .grid-content-2 {
        width: 100%;
    }
}

.about-banner {
    background-image: linear-gradient(#000000a8, #000000a8), url(assets/abt-pg-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    display: flex;
    padding: 8rem 0 6rem 0;
    flex-direction: column;
    justify-content: center;
}

.expertise {
    background-image: linear-gradient(#000000a8, #000000a8), url(assets/expertise-sec-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
}

.banner-text {
    color: #FFF;
    text-align: center;
    font-weight: bold;
}

.about-banner p {
    color: #FFF;
    text-align: center;
}

.section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.style4 h6.subtitle {
    padding: 10px 10px 10px 50px;
    position: relative;
    display: inline-block;
    color: #ee3124;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17.5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    z-index: 0;
    margin-bottom: 5px;
}

.style4 h6.subtitle:before {
    position: absolute;
    content: "";
    top: 19px;
    left: 0;
    width: 24px;
    height: 3px;
    padding: 0;
    background: #ee3124;
    border-radius: 30px;
}

.style4 p {
    font-size: 18px;
    line-height: 1.5;
}

.footer {
    position: unset;
}

.card {
    padding: 0;
}

img {
    width: 100%;
}

.padding {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.img-icon {
    background: #ee3124;
    padding: 1rem;
    width: fit-content;
    margin: auto;
    border-radius: 50%;
}

.rounded-circle {
    border-radius: 50% !important;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.sub-info {
    font-weight: bold;
    color: #ee3124;
}

.display-30 {
    font-size: 0.9rem;
}

.w-80 {
    width: 80px;
    height: 80px;
}

.bg-red {
    background-color: #ee3124;
}

.contact-area {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width:768px) {
    .contact {
        margin-bottom: 60px;
    }
}

.contact input {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #232434;
    font-size: 16px;
    height: 60px;
    padding: 10px;
    width: 100%;
    font-family: 'poppins', sans-serif;
    padding-left: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.contact textarea {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #232434;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    font-family: 'poppins', sans-serif;
    padding-left: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.contact input:focus {
    background: #fff;
    border: 1px solid #fff;
    color: #232434;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 none;
}

.contact textarea:focus {
    background: #fff;
    border: 1px solid #fff;
    color: #232434;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 none;
}

.form-control::placeholder {
    color: #232434;
    opacity: 1;
}

.btn-contact-bg {
    border-radius: 30px;
    color: #fff;
    outline: medium none !important;
    padding: 15px 27px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #7564e5;
    font-family: 'poppins', sans-serif;
    cursor: pointer;
    width: 100%;
}

.btn-contact-bg:hover,
.btn-contact-bg:focus {
    background: #232434;
    color: #fff;
}

.card-img-tiles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    background-color: #fff;
    z-index: 5
}

.card-img-tiles .main-img>img,
.card-img-tiles .thumblist>img {
    display: block;
    width: 100%
}

.card-img-tiles .main-img {
    width: 67%;
    padding-right: .375rem
}

.card-img-tiles .thumblist {
    width: 33%;
    padding-left: .375rem
}

.card-img-tiles .thumblist>img {
    margin-bottom: .75rem
}

.card-img-tiles .thumblist>img:last-child {
    margin-bottom: 0
}

.mb-grid-gutter {
    margin-bottom: 30px !important;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 768px) {
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
@media (min-width: 576px) {
    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.card.border-0.mb-grid-gutter {
    flex-direction: column;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    padding: 1.5rem;
    height: 100%;
}
.col-md-4.col-sm-6 {
    height: 100%;
}
.card-body.border.mt-n1.py-4.text-center {
    width: 100%;
}
